数据仿真生成/output/
数据仿真生成/synthetic_yolo/
Ultralytics_sam_auto_object_label/*.pt
Ultralytics_sam_auto_object_label/sam_anota/*.pt
Ultralytics_sam_auto_object_label/sam_anota/video_annotations/
Ultralytics_sam_auto_object_label/video_annotations/
实用小命令/yolov8人脸检测/yolov8n-face.pt
实用小命令/将连续图像合并为一段视频/hand_detect.mp4
/模型优化_实验环境采集rostopic误检样本/CarpetSegmentProject/
/模型优化_实验环境采集rostopic误检样本/images/
/实用小命令/NPU_stress_test/test_models/
/实用小命令/NPU_stress_test/lib/
实用小命令/图像合并/combin_more_images.py
/python安装包制作/2.加密版发布安装包编译/yolov8_onnx_export/yolov8_onnx_export.egg-info/
/python安装包制作/2.加密版发布安装包编译/yolov8_onnx_export/dist/
/python安装包制作/2.加密版发布安装包编译/yolov8_onnx_export/build/
/python安装包制作/1.加密版安装包动态库编译/yolov8_onnx_export/yolov8_onnx_export.egg-info/
/python安装包制作/AnnotationBoxAnalysis_detect_and_mark/label_checker.egg-info/
/python安装包制作/AnnotationBoxAnalysis_detect_and_mark/dist/
/python安装包制作/onnx_to_rknn_export/dist/
/python安装包制作/onnx_to_rknn_export/export_quant_rknn.egg-info/
/python安装包制作/yolov8_onnx_export/yolov8_onnx_export.egg-info/
# Python cache
__pycache__/
*.py[cod]
/bilibili_videos_download/downloads/
*.pt
*.jpg
*.png
*.mp4
*.avi
*.mov